li {
  display: block;
  padding: 2px 2px 2px 10px;
  line-height: 1.25;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  white-space: pre-line;
  font-size: .85em;
  min-height: 16px;
  width: 100%;
  user-select: none;
}

li:hover {
  background-color: #a0a0a0;
}

li.selected {
  background-color: #7504c9;
  color: white;
}

ol {
  list-style: none;
  overflow-y: auto;
  background-color: #f4f4f4;
  border-radius: 10px;
}

div.transfer-list {
  width: 50%;
}

div.tl-buttons {
  display: flex;
  flex-direction: row;
}

button.tl-button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 2px;
  font-size: 16px;
  border-width: 1px;
  border-radius: 10px;
}

button.tl-button:hover:enabled {
  background-color: #a0a0a0;
}

button.tl-button:active:enabled {
  background-color: #e0e0e0;
}

div.tl-lists {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  background-color: #7504c9;
}

div.no-overflow {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
}

div.tl-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 5px;
}

button.filter-clear {
  background-color: #FE6969;
  margin: 0 5px;
  border: 1px black solid;
  border-radius: 2px;
  width: 40px;
}

input.tl-text-input {
  display: inline;
  width: 100%;
  font-size: inherit;
  line-height: 2;
}