*.z64
*.log
*cpuprofile

/build
/dist
/out
/third_party
/node_modules
/config.yml
/config*.yml
/local
/.env
/tmp
/third_party

/.vscode/settings.json
/.nx
/.pnpm-store

**/vite.config.{js,ts,mjs,mts,cjs,cts}.timestamp*