* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.disclaimer {
  width: 500px;
  text-align: justify;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 3em;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 2.4em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h2, h3 {
  margin-bottom: 0.5em;
}

p, ul, ol {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

ul li {
  list-style: inside;
}

details > summary {
  padding: 2px 6px;
  width: 15em;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

details > p {
  padding: 2px 3em;
  margin: 0;
}
