* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html {
  font-family: Sailec, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

strong {
  font-weight: 600;
}

label, .label-main {
  font-weight: 500 !important;
}

td {
  vertical-align: middle;
  padding: 0.5em 1em;
}

th {
  font-weight: bold;
}

table {
  margin: 1em 0;
}
