* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html {
  font-family: Sailec, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

strong {
  font-weight: 600;
}

.label-main {
  font-weight: 500 !important;
}

td {
  vertical-align: middle;
  padding: 0.5em 1em;
}

th {
  font-weight: bold;
}

table {
  margin: 1em 0;
}

.row {
  --bs-gutter-y: 0.75rem;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.5em;
}

.flex-h {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-v {
  margin: 0.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

a, a:visited {
  color: #007bff;
  text-decoration: none;
}
