:root {
  --margin: 0.5rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Sailec, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #222;
}

body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: var(--margin);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

button, .btn {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.7em 1em;
  margin: var(--margin);
  color: white;
  background: #105fc5;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.1s;
}

button:hover, .btn:hover {
  background: #2d82f1;
}

button:active, .btn:active {
  background: #0c4b9b;
}

.btn-danger {
  background: #da2b25;
}

.btn-danger:hover {
  background: #f44336;
}

.btn-danger:active {
  background: #a52721;
}

.btn-primary {
  background: #26ad14;
}

.btn-primary:hover {
  background: #4caf50;
}

.btn-primary:active {
  background: #087f0b;
}

button[disabled], .btn[disabled], .btn-disabled {
  background: #aaa;
  cursor: not-allowed;
}

a, a:visited {
  color: #105fc5;
  text-decoration: none;
}

td {
  vertical-align: middle;
  padding: 0.5em 1em;
}

th {
  font-weight: bold;
}

table {
  width: 100%;
  margin: 1em 0;
}

p {
  margin: var(--margin);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

progress {
  width: 100%;
  appearance: none;
  height: 1em;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  background: white;
  border: 1px solid #333;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background: #0a8f1c;
  border-radius: 5px;
}
