form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

form.vertical {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 1rem;
  margin: var(--margin);
  margin-top: 3rem;
  padding: 1rem;
  gap: 0.1em;
}

label {
  display: flex;
  align-items: center;
  align-content: flex-start;
  font-size: 1em;
  flex-wrap: wrap;
  margin: var(--margin);
  font-weight: 600;
}

.file-select-label {
  flex-direction: column;
}

input[type=checkbox] {
  flex: none;
  height: 2rem;
  width: 2rem;
  margin-left: 0;
  margin-right: 0.5em;
}

input[type=text], input[type=number], select {
  border: 1px solid #aaa;
}

input[type=text], input[type=number], select, .select {
  font-size: 1.6rem;
  flex-basis: 100%;
  padding: 0.5em 0.2em;
  margin: 0.5em 0;
  border-radius: 3px;
  outline: none;
}

input[type=text]:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #105fc5;
}

.tooltip-link {
  margin: 0 0.5em;
  color: #333;
}

.double-list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.double-list-tools {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.double-list-tools > button {
  flex: 1;
}

.double-list-content {
  display: flex;
  flex: 1;
  margin: var(--margin);
}

.double-list-col {
  flex: 1;
  flex-direction: column;
  border: 1px solid #aaa;
  padding: 0 0.5em;
  height: 35em;
  min-width: 20em;
  overflow-y: scroll;
}

.double-list-col:first-child {
  border-right: none;
}

.double-list-row {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
  min-height: 1.5em;
}

.double-list-row > input {
  margin-right: 0.5em;
}

.double-list-row-extra {
  display: flex;
  margin-left: auto;
}

.list-item {
  margin-left: 0.5rem;
}

.list-remove, .list-action {
  cursor: pointer;
}

.list-remove:hover {
  color: red;
}

.list-action:hover {
  color: #105fc5;
}

li {
  margin: var(--margin);
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar .btn, .toolbar button {
  text-wrap: nowrap;
  flex: 0;
}

.file-select {
  flex: 1;
  margin: 2em;
  align-items: center;
}

.file-select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 5%;
  background: #eee;
  padding: 1em;
  margin: 1em;
  transform: scale(1);
}

.file-select-box-img-container {
  display: flex;
  width: 8em;
  height: 8em;
}

.file-select-box-img-container img {
  object-fit: contain;
}

.file-select-box p {
  margin-top: 1em;
}

.file-select-box.empty img {
  filter: grayscale(100%);
}

.file-select-box-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.file-select-box-delete:hover {
  color: red;
}

input[type='file'] {
  display: none;
}

textarea {
  width: 100%;
  min-width: 100%;
  margin: 1em 0;
  min-height: 10rem;
  font-family: monospace;
  padding: 0.25em;
}
