label {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

input[type='file'] {
  display: none;
}

input[type='checkbox'] {
  flex: none;
  height: 20px;
  width: 20px;
  opacity: 0.7;
  transition: all 350ms ease-in 0s;
}

select,
input[type='text'],
input[type='number'] {
  transition: border-color 200ms ease-in 0s, box-shadow 200ms ease-in 0s;
  font-size: 1.5rem;
  height: 30px;
  min-height: 30px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(90, 103, 116);
  background-color: transparent;
  position: relative;
}

label > select {
  margin-top: 8px;
}

label > input {
  margin-top: 8px;
}

button,
.btn {
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all 300ms ease-in-out 0s;
  text-decoration: none;
  text-align: center;
  padding: 0.5em 1em;
  min-width: 48px;
  font-weight: 700;
  font-size: 1em;
  border: none;
  border-radius: 10px;
}

button:active,
button:hover {
  opacity: 0.8;
}

button,
.btn {
  background: #2667f3;
  color: white;
  cursor: pointer;
  height: 2.5em;
  border-radius: 5px;
}

.btn-fill {
  width: 100%;
}

.btn-auto {
  width: auto;
  padding: 10px 26px;
}

.btn-danger {
  background: #f44336;
  color: #fff;
}

.btn-download {
  background: linear-gradient(180deg, #43d857, #00bb19);
  color: #fff;
  margin: 0.25em;
}

.iconLeft {
  margin-right: 5px;
}

.iconRight {
  margin-left: 5px;
}

.card {
  border: 1px solid #6e29a3;
  height: 538px;
  overflow-y: auto;
  padding: 7px 3px;
}

.icon-spacing {
  margin-left: 7px;
}
