.header {
  height: 5em;
  background: black;
  display: flex;
  color: white;
}

.logo {
  height: 75%;
  border-radius: 50%;
  align-self: center;
  margin-left: 1em;
}

.title {
  display: inline-block;
  align-self: center;
  font-size: 2.2em;
  margin-left: 0.5em;
}
