#root {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.container {
  margin: 3em;
}

.plando-search {
  display: flex;
}

.plando-search > *:not(:last-child) {
  margin-right: 1.5em;
}

.plando-select {
  flex: 1;
  display: inline-block;
  min-width: 200px;
}

.plando-remove {
  margin-right: 0.5em;
}

.plando-remove:hover {
  cursor: pointer;
  color: rgb(151, 7, 7);
}

.tooltip-link {
  display: inline-block;
  color: inherit;
  margin-left: 0.5em;
}

.tooltip {
  max-width: 30em;
}

.tooltip p, .tooltip ul {
  margin: 0.75em;
}

.tooltip ul {
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 2em;
}

.tooltip li {
  margin: 0.25em;
}

.react-tooltip {
  opacity: 100%;
  background: black;
  z-index: 9999;
}

br {
  content: '';
}

br:after {
  content: ' ';
}