.tab-bar {
  display: flex;
  flex-direction: row;
}

.tab-bar-right {
  flex: 1;
  height: 100vh;
  overflow: auto;
}

.tab-bar-left {
  flex: 0;
  background: #1f1e1e;
  color: white;
  min-height: 100vh;
}

.tab-bar-left a {
  color: inherit;
}

.tab-bar .tab-bar .tab-bar-left {
  background: #181616;
  color: white;
}

.tab {
  min-width: 200px;
  font-size: 1.1em;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: inherit;
}

.tab.active, .tab:hover {
  background: #111;
}

.tab-bar .tab-bar .tab.active, .tab-bar .tab-bar .tab:hover {
  background: #000;
}

.tab-bar .tab-bar .tab {
  font-size: 1em;
  padding: 0.75em;
}

main {
  flex: 1;
  min-height: 100vh;
  overflow: auto;
  padding: 2em;
}

.game {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: var(--margin);
}

.game img {
  height: 5rem;
}

.dual-panels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dual-panels > * {
  flex: 1;
}

.dashboard-table {
  width: auto;
}

.rom-config-form {
  display: flex;
  flex-direction: column;
}

.rom-config-files {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.panel {
  border: 1px solid #ccc;
  background: #eee;
  padding: 3rem;
  margin: 3rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.panel h1 {
  display: inline;
}

.panel.panel-error {
  background: rgb(235, 149, 149);
  border-color: rgb(219, 82, 82);
  color: rgb(44, 12, 12);
}

.generator-modal-progress {
  position: absolute;
  top: 0;
  background: #bbb;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generator-modal-progress .panel {
  display: flex;
  width: 640px;
  height: 320px;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
  border: 1px solid #aaa;
}

.warning {
  display: block;
  margin: 2em;
  padding: 1em;
  background: rgb(126, 126, 5);
  border: 1px solid rgb(100, 100, 4);
  color: white;
  border-radius: 5px;
  min-height: 15rem;
  max-height: 35rem;
  overflow-y: auto;
}

.warning ul {
  margin: 1em;
}
