.double-list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.double-list-tools {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.double-list-tools > button {
  flex: 1;
}

.double-list-content {
  display: flex;
  flex: 1;
}

.double-list-col {
  flex: 1;
  flex-direction: column;
  border: 1px solid #aaa;
  padding: 0 0.5em;
  height: 40em;
  min-width: 20em;
  overflow-y: scroll;
}

.double-list-col:first-child {
  border-right: none;
}

.double-list-row {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
  min-height: 1.5em;
}

.double-list-row > input {
  margin-right: 0.5em;
}

.double-list-row-extra {
  display: flex;
  margin-left: auto;
}
