* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.disclaimer {
  width: 500px;
  text-align: justify;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 3em;
}
