label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

label > * {
  font-weight: initial;
}

label.checkbox {
  flex-direction: row;
  align-items: baseline;
}

input[type=file] {
  display: none;
}
