.generator-title {
  display: inline-block;
  font-size: 1.5em;
}

.generator-error {
  display: block;
  margin: 1em;
  padding: 1em;
  color: #330000;
  background: #ffcccc;
}

.file-select {
  margin: 2em;
  align-items: center;
}

.file-select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 10em;
  border: 1px solid #aaa;
  border-radius: 5%;
  background: #eee;
  padding: 1em;
  margin: 1em;
}

.file-select-box p {
  margin-top: 1em;
}

.file-select-box.empty img {
  filter: grayscale(100%);
}
