#root {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.flex-h {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  width: 100%;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.settings>.checkboxes-lowcount {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  margin-bottom: 8px;
}

.container {
  margin: 3em;
}
