.main {
  width: 90%;
  min-width: 1024px;
  border: 1px solid #ccc;
  padding: 1em;
  background: #f4f4f4;
  margin: 0 auto;
  margin-top: 5em;
  border-radius: 0.5em;
}

.flex-h {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  width: 100%;
}

.settings > .dropboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}


.settings> .checkboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.settings>.checkboxes-lowcount {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  margin-bottom: 8px;
}