.tab-bar-header {
  display: flex;
}

.tab-bar-header-tab {
  display: block;
  padding: 1em;
  margin-bottom: -1px;
  color: #222;
  text-decoration: none;
  border: 1px solid transparent;
}

.tab-bar-header-tab.active {
  background: white;
  border: 1px solid #999;
  border-bottom: none;
}

.tab-bar-body {
  background: white;
  padding: 2em 1em;
  border: 1px solid #999;
}
