.tab-bar-header {
  display: flex;
}

.tab-bar-header-tab {
  display: block;
  padding: 1em;
  margin-bottom: -1px;
}

.tab-bar-header-tab.active {
  background: white;
  border: 1px solid black;
  border-bottom: none;
}

.tab-bar-body {
  background: white;
  padding: 2em 1em;
  border: 1px solid black;
}
