name: Continuous Integration Workflow

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm i

      - name: Test
        run: npm test
  deploy:
    if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/master' || contains(github.ref, 'refs/tags/')) }}
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Extract Version (Tag)
        if: ${{ contains(github.ref, 'refs/tags/') }}
        run: |
          echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
          echo "NETLIFY_SITE_ID=${{ secrets.NETLIFY_SITE_ID_STABLE }}" >> $GITHUB_ENV

      - name: Extract Version (Commit)
        if: ${{ !contains(github.ref, 'refs/tags/') }}
        run: |
          short_sha=$(echo ${{ github.sha }} | cut -c1-7)
          echo "VERSION=dev-${short_sha}" >> $GITHUB_ENV
          echo "NETLIFY_SITE_ID=${{ secrets.NETLIFY_SITE_ID_DEV }}" >> $GITHUB_ENV

      - name: Add n64 toolchain repo
        uses: myci-actions/add-deb-repo@10
        with:
          repo: deb http://practicerom.com/public/packages/debian staging main
          repo-name: practicerom
          keys-asc: https://practicerom.com/public/packages/debian/pgp.pub

      - name: Install system dependencies
        run: sudo apt-get install n64-ultra cmake ninja-build

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm i

      - name: Build
        run: |
          npm run build

      - name: Deploy to netlify (stable)
        if: ${{ contains(github.ref, 'refs/tags/') }}
        run: |
          npm i -g netlify-cli
          cd packages/gui/dist && netlify deploy --filter @ootmm/gui --prod --dir ./
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID_STABLE }}

      - name: Deploy to netlify (dev)
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          npm i -g netlify-cli
          cd packages/gui/dist && netlify deploy --filter @ootmm/gui --prod --dir ./
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID_DEV }}
